*, *:before, *:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #1B1E2F;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.info-button {
  font-size: x-large;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 40px; /* Añade espacio a la izquierda y a la derecha */
  background-color: #1B1E2F;
}

.navbar__item {
  display: flex;
  align-items: center;
}

.navbar__item--left {
  justify-content: flex-start;
}

.navbar__item--center {
  align-items: center;
  justify-content: center;
  height: 100%;
}

.navbar__item--right {
  justify-content: flex-end;
}

.navbar__logo {
  width: 50px;
  height: 50px;
}

.navbar__button {
  padding: 10px 20px;
}

.navbar__icon {
  font-size: 24px;
}

.logo {
  width: 40px; /* Cambia este valor a lo que necesites */
  height: auto; /* Esto mantendrá las proporciones de la imagen */
}

.navbar__icon {
color: #FFFFFF; /* Cambia este valor al color que desees */
}


.cartelera {
  padding: 20px;
}

.cartelera--item {
  max-width: 225px;
  flex: 0 0 calc(20% - 20px);
}

.cartelera--item-image {
  width: 100%;
  height: 200px;
}

.cartelera-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Espacio entre las películas */
}

.fila {
  display: flex;
  gap: 20px; /* Espacio entre las películas */
  margin-top: 20px;
}

