<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Swipe</title>
    <link rel="stylesheet" href="{{url_for('static', filename='src/main.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/swipe.css')}}">
    <script src="https://kit.fontawesome.com/0109ddc3c5.js" crossorigin="anonymous"></script>
    <script src="https://hammerjs.github.io/dist/hammer.min.js"></script>

</head>
<body>
    <div class="navbar">
      <div class="navbar__item navbar__item--left">
      <img class="logo" src="{{ url_for('static', filename='images/logo.svg') }}" alt="Your Company">        </div>
      <div class="navbar__item navbar__item--center">
        <button class="sugiereme-button">
          <div class="circular-icon">
            <i class="fa fa-magnifying-glass" ></i>
          </div>
          <p>
            Sugiereme
          </p>
          <div class="circular-icon" style="visibility: hidden; margin-left: 0px;">
            <i class="fa fa-magnifying-glass" ></i>
          </div>
        </button>
      </div>
      <div>
        <a href="{{ url_for('login') }}" style="font-size: 24px;" class="me-3">
          <i class="fa fa-sign-out" style="color: white;"></i>
        </a>
      </div>
    </div>

    <div class="tinder">
        <div class="tinder--status">
          <i class="fa fa-heart-crack"></i>
          <i class="fa fa-heart"></i>
          <i class="fa fa-remove"></i>
        </div>

        <div class="tinder--cards">
          {% for recomendacion in recomendaciones %}
          <div class="tinder--card">
            <button class="info-button" onclick="showModal({{ recomendacion.id }})">
              <i class="fas fa-info-circle"></i>
            </button>
            <!-- <p>{{ recomendacion.description }}</p> -->
            <div class="tinder--card-image h-[100%]">
              <img class="object-cover w-full h-full" src="https://image.tmdb.org/t/p/w500{{ recomendacion.image_url }}" alt="{{ recomendacion.title }}">
            </div>
          </div>
          {% endfor %}
        </div>

        <div class="tinder--buttons">
          <button id="nolove"><i class="fa fa-heart-crack"></i></button>
          <button id="ignore"><i class="fa fa-remove"></i></button>
          <button id="love"><i class="fa fa-heart"></i></button>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/hammer.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/swipe.js') }}"></script>
    <dialog id="info_modal" class="modal">
      <div class="modal-box">
        <h3 class="font-bold text-lg movie-title"></h3>
        <p class="py-4 movie-desc"></p>
        <div class="modal-action">
          <form method="dialog">
            <button class="btn">Cerrar</button>
          </form>
        </div>
      </div>
    </dialog>

    <script src="{{url_for('static', filename='js/swipe.js')}}"></script>

    <script>
      // cambiar la informacion que se muestra en el modal
      function showModal(id) {
        console.log(id);
        var dialog = document.getElementById('info_modal');

        // buscar la informacion de la pelicula dentro del json de recomendaciones

        document.querySelector('.movie-title').innerText = 'Movie Title';
        document.querySelector('.movie-desc').innerText = 'Movie Description';

        dialog.showModal();
      }

    </script>


</body>
</html>